extends layout.pug

block content
	section.namecard
		.namecard-hello
			p.namecard-greeting Hello, student!
		form.namecard-form(action='/', method='post')
			label.namecard-prompt
				| #{question}:
			input.namecard-name(type='text', name='username')
			button.namecard-submit(type='submit') Submit
